extends ../../layout

block variables
  - var menu = "Profil"
  - var subMenu = "Mot de passe"

block content
  h1 Gestion de votre profil
    
  include subMenu
  
  h3 Modifier le mot de passe
  
  form(method="POST", action="/app/user/password")
    div.text-right(style="padding-top: 5px; padding-bottom: 5px;")
      button.btn.btn-success(type="submit") Enregistrer
    
    table.table.table-striped
      tbody
          tr
            th(style="width: 200px;") Mot de passe actuel
            td
              input.form-control(name="password", type="password", required)
          tr
            th Nouveau mot de passe
            td
              input.form-control(name="newPassword", type="password", pattern=".{6,}", title="Le mot de passe doit contenir au moins 6 charactères.", required)
          tr
            th Confirmer le mot de passe
            td
              input.form-control(name="newPassword2", type="password", required)
  

    
