extends ../layout

block variables
  - var menu = "Connexion"

block content
  h1 Connexion
  form(method="POST", action="/user/login")
    #from-group
      label Nom d'utilisateur :
      input.form-control(name="username", type="text", value="ThBM")
    #from-group
      label Mot de passe :
      input.form-control(name="password", type="password", value="azerty")
    br
    input.btn.btn-primary(type="submit", value="Connexion")
      
            
    
