extends ../layout

block variables
  - var menu = "Inscription"

block content
  h1 Inscription
  form(method="POST", action="/user/register")
    #from-group
      label Nom entier :
      input.form-control(name="name", type="text")
    #from-group
      label Email :
      input.form-control(name="email", type="email")
    #from-group
      label Nom d'utilisateur :
      input.form-control(name="username", type="text")
    #from-group
      label Mot de passe :
      input.form-control(name="password", type="password")
    #from-group
      label Confirmer le mot de passe :
      input.form-control(name="password2", type="password")
    br
    input.btn.btn-primary(type="submit", value="Inscription")
      
            
    
