extends ../layout

block variables
  -var menu = "Agenda"

block content
  h1 Agenda
  
  #calendar
    
  script(src="/js/agenda.js")
  script.
    $(function() {
      var events = !{ events };
      agenda(events);
    })
    
