extends ../../layout

block variables
  - var menu = "Patients"

block content
  h1 Liste des patients
  
  p.text-right
    a.btn.btn-success(href="/app/patient/add") Ajouter
  
  form.form-inline.text-center(method="GET", action="/app/patient/list")
    .form-group
      label(for='lastName')  Nom : 
      input.form-control(type='text', name="lastName", placeholder="Nom")
    .form-group
      label(for='firstName') Prénom : 
      input.form-control(type='text', name="firstName", placeholder="Prénom")
    button.btn.btn-primary(type='submit') Rechercher

  br
  
  table.table.table-striped
    thead
      tr
        th Nom
        th Prénom
        th 
    tbody
      each patient, i in patients
        tr
          td= patient.lastName
          td= patient.firstName
          td(style="width: 100px;")
            a.btn.btn-info(href="/app/patient/" + patient.id) Voir

    
