ul.nav.nav-tabs
  li(class= subMenu == "Fiche patient" ? "active" : "")
    a(href="/app/patient/"+patient._id) Fiche patient
  li(class= subMenu == "Séances" ? "active" : "")
    a(href="/app/patient/"+patient.id+"/seance") Séances
